*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
}


.left{
    width: 25vw;
    padding: 15px;
}
.right{
    width: 75vw;
}
.home ul li{
    display: flex;
    gap: 10px; 
    width: 20px;
    list-style: none;
    padding-top: 10px;
    font-weight: bold;
}
.bg-black{
    background-color: black; 
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-gray{
    background-color: #121212;
}
.heading{
    display: flex;
    gap: 10px; 
    align-items: center;
    padding-top: 10px;
    /* font-weight: bold; */
    /* width: 25px; */
}
.footer{
    display: flex;
    gap: 13px;
    align-items: center;
    font-size: 10px;
    color: gray;
    position: absolute;
    bottom: 0px;
    padding: 30px 0px;
}
.footer a{
    color: gray;
}
.library{
    min-height: 75vh;
    position: relative;
}
.upar button{
    background-color: rgb(28, 28, 28);
    color: rgb(183, 179, 179);
    /* border: 1px solid white; */
    padding: 5px 15px;
    border-radius: 15px;
}
.upar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(28, 28, 28);
}
.upar > *{
    padding: 15px;
}
.right{
    margin: 20px 0px;
    position: relative;
}

.spotifyPlaylists{
    padding: 20px;
    display: flex;
    
}
.cardContainer{
    margin: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: baseline; */
    max-height: 70vh;
    overflow-y: scroll;
}
.card{
    position: relative;
    width: 165px;
    padding: 8px;
    height: 250px;
    background-color: rgb(34, 34, 33);
    border-radius: 8px;
}
.card h3{
    margin-top: 10px;
}
.card p{
    font-size: small;
    margin-top: 5px;
}
.cardContainer img{
    /* padding-top: 0px; */
    width: 100%;
    height: 175px;
    object-fit: contain;
}
.play{
    position: absolute;
    bottom: 90px;
    right: 15px;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.signupbtn{
    font-weight: bold;
    border: none;
    outline: none;
}
.signupbtn:hover{
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.loginbtn{
    font-weight: bold;
    border: none;
    outline: none;
}
.loginbtn:hover{
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.playbar{
    position: fixed;
    /* justify-content: center;
    align-items: center; */
    bottom: 30px;
    background-color: rgb(138, 196, 138);
    width: 69%;
    height: 29px;
    /* height: 50px; */
    padding: 10px;
    border-radius: 30px;
}
.songButtons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.songList ul{
    padding: 5px 10px;
}
.songList li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    cursor: pointer;
    padding: 10px 0px;
    border: 1px solid white;
    margin: 5px;
    padding: 15px;
    border-radius: 7px;
    background-color: #222020;
}
.songList li div img{
    padding-top: 7px;
    padding-right: 7px;
}
.songNameA{
    font-size: 10px;
}
.songList .info{
    width: 300px;
}
.songList{
    height: 390px;
    overflow-y: scroll;
    margin: 25px 0px;
}

.seekbar{
    flex-wrap: wrap;
    width: 98%;
    padding-left: 0px;
    height: 2px;
    border: 2px solid red;
    position: absolute;
    bottom: 5px;
    border-radius: 10px;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 25px;
    background-color: black;
    position: relative;
    bottom: 6px;
    transition: left 0.5s;
}

