.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.rounded{
    border-radius: 7px;
    /* border: red solid 2px; */
}
.m-1{
    margin: 5px;
    padding: 5px;
}
.p-1{
    padding: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 6px;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

::-webkit-scrollbar-thumb:active {
  background: #888;
}
